{
    "parser": "babel-eslint",
    "plugins": [
        "jsx-a11y"
    ],
    "rules": {
        "jsx-a11y/anchor-is-valid": [
            2,
            {
              "components": [ "Link" ],
              "specialLink": [ "hrefLeft", "hrefRight", "to" ],
              "aspects": [ "noHref", "invalidHref", "preferButton" ]
            }
        ]
    }
}